*{margin: 0; padding:0; }
main {
    display: flex; }
.product {
    width: 50%; }
.product img {
    width: 100%; /* Зображення займає всю ширину батьківського контейнера */
    height: auto; /* Зберігає пропорції зображення */    
 border-radius: 0 0 10% 0;}
h1 {
    font-size: 68px;
    color: #0f4578;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 100px 0;
    animation: fade 2s ease-in-out;
    font-weight: 900;
    text-align: center;  }

p {
    padding: 20px;
  font-size: 28px;
color: #0f4578;
margin: 90px 0;
text-align: center;  }
header{
  background-image: url('https://rud.ua/uploads/useful_info/5cc173f84db05.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;}

nav{
  background-color: #1f1f1f;
  box-shadow: 4px 5px 15px;
  font-family: "Airal", sans-serif;
  font-weight: bold;}

nav ul{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(177, 189, 236, 0.398);}

nav li{
  display: block;
  padding: 20px;
  font-size: 25px;}

nav li a{
  text-decoration: none;
  color: rgb(78, 35, 4);}

nav a:active{
color: blue;}

nav a:hover{
  background: rgba(255, 255, 0, 0.13);
  color: rgba(34, 23, 232);}
.container {
        display: flex;
        justify-content: center;
        background-image: url("https://us.123rf.com/450wm/julijuliart/julijuliart1609/julijuliart160900030/63118958-seamless-doodle-glaze-ice-cream-pattern-hand-drawn-dark-blue-vector-background-for-cards-invitations.jpg");
        padding: 50px;        }
     
      .box2, .box3, .box, .box4{
        width: 400px;
        height: 400px;
        background-position: center center;
        background-size: cover;
        margin: 20px;
        border-radius: 30%;
        transition: transform 0.3s ease; /* Додаємо плавний перехід */        }
     
      .box2 {
        background-image: url("https://app.layer.ai/media/workspaces/96f746e5-66dd-4ad5-a211-302d9aa0a265/files/5f20a89d-02e9-47bd-96e4-cd1b1cd823c4/closeup_shot_of_a_whimsical_blue_ice_cream_cone_vibrant_shades_of_icy-2024-11-23-100319.png");  }
     
      .box3 {
        background-image: url("https://app.layer.ai/media/workspaces/96f746e5-66dd-4ad5-a211-302d9aa0a265/files/08ba39ab-e272-44d0-878d-cfc792f71e02/closeup_shot_of_a_whimsical_blue_ice_cream_cone_vibrant_shades_of_icy-2024-11-23-100319.png");     }
      .box4 {
        background-image: url("https://app.layer.ai/media/workspaces/96f746e5-66dd-4ad5-a211-302d9aa0a265/files/1991af33-a7a9-4a32-bc43-a4704c0b594c/closeup_shot_of_a_whimsical_blue_ice_cream_cone_vibrant_shades_of_icy-2024-11-22-153357.png");     }
     
      .box {
        background-image: url("https://app.layer.ai/media/workspaces/96f746e5-66dd-4ad5-a211-302d9aa0a265/files/d6455748-2182-4b83-a17b-35b27aeab52b/closeup_shot_of_a_whimsical_blue_ice_cream_cone_vibrant_shades_of_icy-2024-11-22-153357.png");     }


      .box2:hover, .box3:hover, .box:hover, .box4:hover {
        transform: scale(1.1);      }



.gr-box2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-image:  url("https://app.layer.ai/media/workspaces/96f746e5-66dd-4ad5-a211-302d9aa0a265/files/1991af33-a7a9-4a32-bc43-a4704c0b594c/closeup_shot_of_a_whimsical_blue_ice_cream_cone_vibrant_shades_of_icy-2024-11-22-153357.png");
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-in-out;}

.gr-box2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;}
  
.gr-box3 {
  grid-column: 1;
  grid-row: 2;
  background-color: #0f4578;
  color: aliceblue;
  text-align: center;
  line-height: 1.6;
  padding: 80px;
  font-size: 28px;}

.gr-box3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;}

@keyframes shake {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
  }
footer{
  background-color: #0f457886;
  padding: 10px 0;
  text-align: center;
  border-top: 3px solid #e0e0e0;}

h2{
  margin: 25px 0;
  color: #333;
  font-size: 20px;}

.footer-cont{
  color: #0073e6;
  text-decoration: none;}
